<!DOCTYPE html>
<html>
<head>
    <title>django-websocket</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            // 获取当前时间的函数
            function getNowFormatDate() {
                var date = new Date();
                var seperator1 = "-";
                var seperator2 = ":";
                var month = date.getMonth() + 1;
                var strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                    + " " + date.getHours() + seperator2 + date.getMinutes()
                    + seperator2 + date.getSeconds();
                return currentdate;
            }

            $('#connect_websocket').click(function () {
                if (window.s) {
                    window.s.close()
                }
                /*创建socket连接,可更改链接，配置socket地址，也就是更改发送信息的地址*/
                var socket = new WebSocket("ws://" + window.location.host + "/dwebsocket_/ws_chat/" + $('#userid').val());
                socket.onopen = function () {
                    console.log('WebSocket open');//成功连接上Websocket
                    alert('已成功连接聊天室！');//成功连接上Websocket
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印出服务端返回过来的数据
                    $('#messagecontainer').prepend('<p>' + e.data + '</p>');
                };
                // Call onopen directly if socket is already open
                if (socket.readyState === WebSocket.OPEN) socket.onopen();
                window.s = socket;
            });
            $('#send_message').click(function () {
                // 如果未连接到websocket
                if (!window.s) {
                    alert("websocket未连接.");
                } else {
                    window.s.send($('#username').val() + ' ' + getNowFormatDate() + ':<br>' + $('#message').val());//通过websocket发送数据
                    // 清空输入框值
                    $('#message').val("");
                }
            });
            $('#close_websocket').click(function () {
                if (window.s) {
                    window.s.close();//关闭websocket
                    window.s = "";
                    alert('websocket已关闭');
                }
            });
            document.onkeydown = function(e){
                if((e||event).keyCode==13){
                    // 如果未连接到websocket
                    if (!window.s) {
                        alert("websocket未连接.");
                    } else {
                        window.s.send($('#username').val() + ' ' + getNowFormatDate() + ':<br>' + $('#message').val());//通过websocket发送数据
                        // 清空输入框值
                        $('#message').val("");
                    }
                }
            };

        });

    </script>
</head>
<body>
    <h1>Django WebSocket</h1>
    <br>
    <input type="hidden" id="userid" value="{{ user_id }}"/>
    <input type="hidden" id="username" value="{{ user_name }}"/>
    <input style="padding:3px 10px;font-size: 15px;" type="text" id="message" value="你好 ~"/>
    <button type="button" id="connect_websocket">连接 websocket</button>
    <button type="button" id="send_message">发送 message</button>
    <button type="button" id="close_websocket">关闭 websocket</button>
    <div style="border: 1px solid;width: 512px;padding-left: 20px;margin-top: 30px;" id="messagecontainer"></div>
</body>
</html>